div.box1 {
 background: #fff;
 font: 1em Verdana, sans-serif;
 padding: 0.5em; margin: 0 0 2em 0; background: #c8d0d4;
 border: 1px solid #B2B2B2;
 width: 450;
 margin: 0px auto;
}

li {
 padding: 5px;
}


