@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial Regular'), local('Questrial-Regular'), url(../assets/b634a8308b43c0bef716e2c4f1a8cde0.ttf) format('truetype');
}
