@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: local('Questrial'), local('Questrial-Regular'), url(../assets/642cf7162d18253d6082f445cd76615a.ttf) format('truetype');
}
