@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url(../assets/e06e4ac228fd79b0b20f89dbb44804b7.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(../assets/3991bff746d3377656ad3cf53b24fe9e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../assets/0c50822862df0e4bc3da7bec4af72b54.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(../assets/16020d134f3ca847d8cdba64e3e9ca33.ttf) format('truetype');
}
