@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(../assets/0c50822862df0e4bc3da7bec4af72b54.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  src: url(../assets/54e4dbec225310932e45306345a8c89d.ttf) format('truetype');
}
