/* COMMON */
*
{
	margin: 0px;
	padding: 0px;
	user-select: none;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	font-size-adjust: none;
	max-height: 1000000px;
}
img
{
	border: none;
	float: left;
}
h1 
{
	font-size: 24px;
	font-weight: bold;
	color: #454545;
}
h2 
{
	font-size: 18px;
	font-weight: bold;
	color: #454545;
}
h4
{
	font-size: 12px;
	font-weight: bold;
}
a 
{
	color: #ee8e00;
	text-decoration: none;
}
a:hover, a:visited
{
	color: #ee8e00;
	text-decoration: underline;
}
body
{
	color: #444444;
	font-size: 12px;
	font-family: "Open Sans", Sans, sans-serif;
	background-color: #f9f9f9;
	overflow-y: scroll;
	text-align: center;
}

/* WRAPPER */
#wrapper
{
	margin: auto;
	width: 1100px;
	background-color: #ffffff;
}

/* HEADER */
#header
{	
	height: 97px;
	background-image: url("../assets/e7b3e1ebb91b261a5c5763cab89647f8.gif");
	background-repeat: no-repeat;
}
#header div.title
{
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}
#header div.links
{
	float: right;
	color: #444444;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 40px;
	margin-top: 38px;
}
#header div.links a
{
	color: #ffffff;
	text-shadow: 0px 1px 1px #333333;
	text-decoration: none;
	margin-right: 8px;
	margin-left: 8px;
}
#header div.links a.hilite
{
	color: #ff9600;
}
#header div.links a:hover, 
#header div.links a:visited
{
	text-decoration: underline;
}

/* CONTENT */
#content
{
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
#content div.spacer 
{
	height: 30px;
	margin-top: 8px;
	margin-left: 40px;
	margin-right: 40px;
	border-top: 1px dotted #cccccc;
}

/* INFO */
#info 
{
	float: left;
	width: 625px;
	margin-top: 25px;
	margin-left: 40px;
	text-align: left;
}
#info p
{
	font-size: 13px;
	padding-right: 30px;
	line-height: 20px;
}
#info div.spacer
{
	margin: 0px;
	margin-top: 15px;
	margin-right: 5px;
	height: 25px;
}
#form 
{
	float: right;
	width: 360px;
	text-align: left;
	background-color: #f6eeca;
	padding-left: 40px;
	padding-top: 25px;
}
#form h1
{
	text-align: left;
	margin-bottom: 15px;
}
#form input 
{
	padding: 2px;
	margin-top: 4px;
	margin-bottom: 12px;
	font-family: inherit;
	font-size: 12px;
}
#form input.button
{
	padding: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: inherit;
	font-size: 12px;
}
#form textarea
{
	padding: 2px;
	margin-top: 4px;
	margin-bottom: 8px;
	font-family: inherit;
	font-size: 12px;
}

/* FEATURE */
#feature 
{
	height: 264px;
	background-color: #f6edcb;
	background-image: url("../assets/d70ec422820a7c903ee9479674043ff5.gif");
	background-repeat: repeat-x;
	background-position: bottom;
}
#feature div.details
{
	float: left;
	width: 495px;
	text-align: left;
	margin-top: 25px;
	margin-left: 40px;
	font-size: 13px;
}
#feature div.details p 
{
	line-height: 20px;
}
#feature img.computer
{
	float: right;
	position: relative;
	right: 34px;
	top: -35px;
}

/* DESCRIPTION */
#description 
{
	float: left;
	text-align: center;
	position: relative;
	top: -25px;
	*top: 0px;
}
#description div.details
{
	float: left;
	width: 625px;
	margin-left: 40px;
	text-align: left;
	font-size: 13px;

}
#description div.details p
{
	line-height: 20px;
}
#description div.download 
{
	width: 321px;
	height: 114px;
	text-align: center;
	margin-left: 61px;
	margin-top: 20px;
	float: right;
}
#description div.download h1
{
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #111111;
	text-transform: uppercase;
	padding-bottom: 3px;
	padding-top: 24px;
	color: #ffffff;
}
#description div.download div.background
{
	width: 321px;
	height: 114px;
	cursor: pointer;
	padding-left: 10px;
	background-image: url("../assets/c32dda19cc1a3fa2356ab9a0eca83966.gif");
	background-repeat: no-repeat;
}
#description div.download p
{
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #ffffff;
	text-decoration: none;
	padding-bottom: 2px;
	color: #111111;
}
#description div.download a
{
	color: #555555;
	padding-left: 10px;
	font-size: 10px;
}
#description div.download span
{
	font-size: 10px;
}

/* FEATURES */
#features 
{
	width: 744px;
	text-align: left;
	margin-left: 40px;
	margin-bottom: 30px;
	border-right: 1px dotted #cccccc;
	float: left;
}
#features h2
{
	text-align: left;
	margin-bottom: 5px;
}
#features div.grid 
{
	width: 345px;
	height: 140px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-right: 25px;
	background-image: url("../assets/5962adab209afb1adb34e7587848493f.gif");
	background-position: bottom left;
	background-repeat: no-repeat;
	overflow: hidden;
	float: left;
}
#features div.grid h4
{
	margin-bottom: 8px;
	text-transform: uppercase;
}
#features div.grid p
{
	margin-bottom: 12px;
	padding-right: 15px;
}
#features div.grid img
{
	margin-right: 15px;
}
#features div.grid div.button 
{
	width: 100px;
	height: 22px;
	background-image: url("../assets/85099bb794cb7c2a8b9c8d6e2bc8a3db.gif");
	background-repeat: no-repeat;
	background-color: transparent;
	padding-right: 15px;
	float: left;
}
#features div.grid div.button:hover
{
	background-position: 0 -22px;
}

/* QUOTES */
#quotes
{
	float: right;
	width: 237px;
	margin-top: 4px;
	margin-right: 40px;
	padding-bottom: 18px;
	background-image: url("../assets/4e007272074b5620582a0eaaf3498d61.gif");
	background-position: bottom right;
	background-repeat: no-repeat;
}
#quotes div.quote
{
	width: 237px;
	font-size: 11px;
	text-align: left;
	margin-bottom: 4px;
	margin-top: 4px;
	float: left;
}
#quotes div.open
{
	width: 34px;
	height: 20px;
	background-image: url("../assets/61c351127c88999c81fee1da9580f4f1.gif");
	background-position: top left;
	background-repeat: no-repeat;
	float: left;
}
#quotes div.quote p 
{
	padding: 10px;
	padding-bottom: 0px;
	margin-left: 5px;
	float: left;
}
#quotes div.quote span
{
	padding: 10px;
	margin-left: 5px;
	font-style: normal;
	font-size: 10px;
	color: #111111;
	float: left;
}

/* FOOTER */
#footer 
{
	height: 80px;
	font-size: 10px;
	background-image: url("../assets/931a1328fa40a4e2a8952096e051deba.gif");
	background-repeat: no-repeat;
}
#footer div.title
{
	float: left;
	margin-top: 14px;
	margin-left: 20px;
}
#footer div.links
{
	float: right;
	color: #555555;
	text-align: right;
	text-transform: uppercase;
	margin-right: 50px;
	margin-top: 28px;
}
#footer div.links a
{
	color: #ffffff;
	text-shadow: 0px 1px 0px #333333;
	text-decoration: none;
}
#footer div.links a.hilite
{
	color: #ff9600;
}
#footer div.links a:hover, 
#footer div.links a:visited
{
	text-decoration: underline;
}
#footer div.social
{ 
	height: 30px;
	width: 100px;
	position: relative;
	overflow: hidden;
	left: 725px;
	top: -30px;
}
#footer div.social a
{ 
	float: left;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
}
#footer div.social a img
{ 
	top: 10px;
	display: block;
	position: relative;
	-webkit-transition: top 0.1s ease-in-out;
	overflow: hidden;
}
#footer div.social a:hover img
{ 
	top: 0px;
	overflow: hidden;
}
