@font-face {
    font-family: 'm_1mregular';
    src: url('../assets/ca93dc61dee1a342d1303bf0c703460d.eot');
    src: url('../assets/ca93dc61dee1a342d1303bf0c703460d.eot?#iefix') format('embedded-opentype'),
         url('../assets/14aea642de676584fd82bbbbc2b341bf') format('woff'),
         url('../assets/d17f42333b70606b52c7eb993aaf0916.ttf') format('truetype'),
         url('../assets/6a59970b4f1cbe42fbf34ecc8efa9d21.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

