@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: local('Libre Franklin Light Italic'), local('LibreFranklin-LightItalic'), url(../assets/094aeb98a4a8c027773e0ed6856417c6.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Franklin Italic'), local('LibreFranklin-Italic'), url(../assets/e8487ec8b167e8f7d8946c36736eb0a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: local('Libre Franklin SemiBold Italic'), local('LibreFranklin-SemiBoldItalic'), url(../assets/2158757e2de1b71192e4a5da37b006c6.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  font-display: fallback;
  src: local('Libre Franklin ExtraBold Italic'), local('LibreFranklin-ExtraBoldItalic'), url(../assets/0a85e9bca751948f6567158d7f3feacf.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Libre Franklin Light'), local('LibreFranklin-Light'), url(../assets/f0dc06cf4189e58f4c18740e9b0d5280.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(../assets/63f4259ea48767724c832e2ae73aec7a.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'), url(../assets/d2d944150417f6d6d5e8d0982cbedaef.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local('Libre Franklin ExtraBold'), local('LibreFranklin-ExtraBold'), url(../assets/1653e9d7bf36526716870cf0da4fe682.ttf) format('truetype');
}
