@charset "iso-8859-1";


#commentform label.error span {color:#C00;}
#commentform label.error input, #commentform label.error textarea {border-color:#C00;}


/* the styles that do the magic... */
.collapsed * {
	display: none;
	}

@media aural {
	.collapsed * {
		display: block;
		}
	}

.collapsed .stmjrNoCollapse {
	display: block;
	}

.collapsed .stmjrNoCollapse * {
	display: inline;
	}


/* ...and some additional styles to work around some bugs & add some refinements */

/* collapse-summary base */

#stmjrCollapse-content-summary {
	display: block;
	height: 0; /* need to give it layout to get IE/Win to recognise the target area */
	margin-top: 1.5em;
	background: #fff url(../assets/90d4a0c2ed6f0b09cb1cb37b6b9b5e6f.png) no-repeat 50% 0%;
	text-indent: -999em;
	}
html>body #stmjrCollapse-content-summary {
	height: auto;
	}

#stmjrCollapse-content-summary:hover {
	background-image: url(../assets/1016ee4d317f48939ff928cc6ccde059.png);
	}
#stmjrCollapse-content-summary:focus, #stmjrCollapse-content-summary:active {
	background-image: url(../assets/42dbecfee4cf608fb81aa82ef6c044a7.png);
	}

/* collapse-summary expanded */

#stmjrCollapse-content-summary.stmjrNoCollapse {
	background: #000 url(../assets/39c0a8236fd0e6fda6ecf02bc87c1cab.png) no-repeat 50% 100%;
	}

#stmjrCollapse-content-summary.stmjrNoCollapse:hover {
	background-image: url(../assets/b157ac3b4d5465ce2122cb62ecf73e5f.png);
	}
#stmjrCollapse-content-summary.stmjrNoCollapse:focus, #stmjrCollapse-content-summary.stmjrNoCollapse:active {
	background-image: url(../assets/91b1d1e6709eba2c09a166e6d4c18927.png);
	}

/* collapse-summary collapsed */

.collapsed #stmjrCollapse-content-summary.stmjrNoCollapse {
	background: #fff url(../assets/90d4a0c2ed6f0b09cb1cb37b6b9b5e6f.png) no-repeat 50% 0%;
	}

.collapsed #stmjrCollapse-content-summary.stmjrNoCollapse:hover {
	background-image: url(../assets/1016ee4d317f48939ff928cc6ccde059.png);
	}
.collapsed #stmjrCollapse-content-summary.stmjrNoCollapse:focus, .collapsed #stmjrCollapse-content-summary.stmjrNoCollapse:active {
	background-image: url(../assets/42dbecfee4cf608fb81aa82ef6c044a7.png);
	}


/* collapse-form base */

#stmjrCollapse-content-sub {
	display: block;
	background: #fff  url(../assets/5eddb3f4eb87276ac7b371afbafa92d0.png) no-repeat 50% 100%;
	text-indent: -9999px;
	}

#stmjrCollapse-content-sub:hover {
	background-image: url(../assets/112df0705f4154b4ca87b3ec16cf7b7c.png);
	}
#stmjrCollapse-content-sub:focus, #stmjrCollapse-form:active {
	background-image: url(../assets/3f67d40b87da60b1e2edddaeb3666d40);
	}

/* collapse-form expanded */

#stmjrCollapse-content-sub.stmjrNoCollapse {
	background: #e3b52d  url(../assets/39bc9521e7d6ad1bb24f4ae1ed14ea0c.png) no-repeat 50% 0%;
	}

#stmjrCollapse-content-sub.stmjrNoCollapse:hover {
	background-image: url(../assets/57a674ee2118fc9022b7226f684a2c2b.png);
	}
#stmjrCollapse-content-sub.stmjrNoCollapse:focus, #stmjrCollapse-form.stmjrNoCollapse:active {
	background-image: url(../assets/e36f99369baba949002e0556ce12cf58.png);
	}

/* collapse-form collapsed */

.collapsed #stmjrCollapse-content-sub.stmjrNoCollapse {
	margin-bottom: 1em;
	background: #fff  url(../assets/5eddb3f4eb87276ac7b371afbafa92d0.png) no-repeat 50% 100%;
	}

.collapsed #stmjrCollapse-content-sub.stmjrNoCollapse:hover {
	background-image: url(../assets/112df0705f4154b4ca87b3ec16cf7b7c.png);
	}
.collapsed #stmjrCollapse-content-sub.stmjrNoCollapse:focus, .collapsed #stmjrCollapse-content-sub.stmjrNoCollapse:active {
	background-image: url(../assets/beed8142e2314b3c24d8c1efd28056c8.png);
	}
