html,body {
    height:100%;
    min-height:100%;
    margin:0px;
}
html {
}

body {
/* 
    background-color:#ede1cb;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #fff9f0),
      color-stop(0.95, #e0d0b0)
  );
*/
    background-color:#202020;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #000000),
      color-stop(0.95, #404040)
  );
  background-attachment:fixed;
  overflow-y:scroll;
}

body,td {
    font:12px arial,helvetica,sans-serif;
}

a {
    text-decoration: none;
}
a:link {
    color: #c01000;
}
a:visited {
  color:#801000;
}
a:hover {
    color:#ff0000;
}

img {
  border:none;
}

hr {
	height:1px;
	border:none;
	border-top:1px solid #623f2c;
	outline:none;
    margin-left:10px;
}

form {
    margin:0px;
}

.structure {
	table-layout:fixed;
    width:100%;
    min-height:100%;
    border-spacing:0px;
    z-index:10;
}
#themeBaseStructure {
  margin-top:90px; /* used when themes are active */
}
.structure>td {
    vertical-align:top;
}
.content {
    width:1000px;
    min-width:1000px;
    z-index:0;
    position:relative;

	padding-bottom:50px;
	box-sizing:border-box;

	/*
	display:block;
	min-height:100%;
	*/
	
}

.homepageStructure {
    margin-top:10px;
    margin-bottom:10px;
    border-spacing:0px;
    border:1px solid black;
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  -webkit-border-radius:5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  border-radius:5px;
  position:relative;
   z-index:10;
    width:1000px !important;
	background-color:white;

height:100% !important;
  min-height:100% !important;
  table-layout:fixed !important;
  
}

.homepageStructure td {
  min-height:100%;
  height:100%;
}

.copyright {
    border-top:1px solid #c0c0c0;
    margin-top:30px;
    font-size:11px;
    color:#505050;
    padding-top:5px;
}
.copyright p {
    margin-top:3px !important;
    margin-bottom:3px !important;
}

td.header {
    width:100%;
    height:120px;
    max-height:120px;
    min-height:0px;
    background-color:#604238;
    background-image:url(../assets/51a8028879efe8d02f5e39b8237b4f9b.jpg);
    position:relative;
  -webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 2px rgba(0,0,0,0.3);
}
#mainLogo {
    position:absolute;
    top:-15px;
    left:-23px;
    z-index:25;
}
#logotype {
    position:absolute;
    top:16px;
    left:145px;
}

.mainmenuBar {
    position:absolute;
    width:998px;
    top:80px;
    height:39px;
    background-image:url(../assets/90f60a9fc10bf2538d4f4ef72f5c2337.png);
    z-index:20;
}
.mainmenu {
    margin-left:137px;
    margin-top:8px;
    font-size:13px;
    text-transform:uppercase;
    z-index:20;
}
.mainmenu a {
    position:relative;
    color:#c4b1ad;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}
.mainmenu a:hover, .mainmenu a.activeMenu {
    color:#FCD75E;
}

.submenuBar {
    position:absolute;
    top:120px;
    left:137px;
    width:auto;
    padding:5px;
    background-color:#462a21;
    z-index:10;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
 background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.15, #301010),
      color-stop(0.35, #482821)
  );
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.submenuBar a, .submenuBar a:visited {
    color:#ffc35a;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}
.submenuBar a:hover {
    color:#FCD75E;
}

.homepageStructure {
    width:100%;
table-layout:fixed;
height:100%;
    min-height:100%;
}

.rootSidebar {
 background-color:#482821;
 background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.15, #4C2220),
      color-stop(0.35, #482821)
  );
 background-image: -moz-linear-gradient(top,#4C2220,#482821);
  padding-top:35px;
  vertical-align:top;
}
.rootSidebar hr {
    width:230px;
}
.rootSidebarButton {
    width:14px;
    height:14px;
    background:none;
    border:none;
    background-image:url(../assets/68c361b0ab4cb6cd3f3b814b223e7609.png);
    position:absolute;
    right:4px;
    top:4px;
    cursor:pointer;
    padding:0px;
}
.rootSidebarButton:hover {
    background-image:url(../assets/57fde57cb9a07eb99e59b6cf0bfe15ef.png);
}
.rootSidebarButton:active {
    background-image:url(../assets/3adbc3243222db80e8ef3456e61beb2c.png);
}
.rootSidebarSection {
    margin-top:0px;
    margin-bottom:20px;
}
.rootSidebar a {
    color:#ffc35a;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}
.rootSidebar a:hover {
    color:#FCD75E;
}
.rootSidebar h2 {
    background-color:#170805;
    color:#FCD75E;
    font-weight:normal;
    font-size:13px;
    margin:5px;
    padding:3px 5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
}
.rootSidebar h2 a {
    color:#FCD75E;
    margin:0px;
}
.rootSidebar h3 {
    color:#ECBF32;
    font-weight:normal;
    font-size:13px;
    margin:5px;
    margin-left:10px;
}
.rootSidebar ul {
    list-style:none;
    padding-left:12px;
    margin-top:0px;
}
.rootSidebar ul li {
    margin-bottom:5px;
}
.rootSidebar ul li a {
    margin-left:0px;
}
.rootSidebar ul.bulleted {
    margin-top:0px;
    list-style:disc;
    padding-left:28px;
    color:#ecbf32;
}

.mainContent {
    background-color:white;
    padding:0px;
    display:block;
  vertical-align:top;
}
.mainContentText {
    padding:0px 20px 10px 20px;
}
.mainContentText h1 {
    color:#800000;
    font-weight:normal;
    margin-top:15px;
    margin-bottom:8px;
    font-size:20px;
}
.mainContentText h2 {
    color:#800000;
    font-weight:normal;
    margin-top:15px;
    margin-bottom:8px;
    font-size:16px;
}
.mainContentText p {
    margin-top:8px;
    margin-left:20px;
    margin-right:20px;
    line-height:18px;
}

.insertsColumn {
    background-color:#FEDE8B;
    padding:0px;
    border-left:1px solid black;
    -webkit-border-bottom-right-radius:5px;
  vertical-align:top;
}
.insertsColumn h2 {
    background-color:black;
    color:white;
    font-weight:normal;
    font-size:14px;
    padding:5px 10px 5px 10px;
    margin-top:0px;
}
.insertsColumn h3 {
    color:#BF0000;
    font-size:14px;
    margin-bottom:3px;
    border-top:1px solid #df8000;
    padding-top:5px;
}
.insertsColumn h3:first-child {
  border-top:none;
  padding-top:0px;
}
.insertsColumn h4 {
    font-weight:normal;
    font-style:italic;
    margin-top:0px;
    margin-bottom:0px;
    font-size:12px;
}
.insertsContent {
    margin:0px 20px 15px 15px;
}
.insertsContent ul {
    list-style-image:url(../assets/57291e85294a4ab13434501ec4d72432.png);
    padding-left:12px;
}
.insertsContent li {
    margin-bottom:8px;
    font-size:11px;
}
.insertsContent li strong {
    font-size:12px;
}
.insertsContent p {
    line-height:16px;
}
.insertsContent hr {
	border-top:1px solid #ef9f5d;
    width:100%;
    margin:0px;
}


.dropdownMenu {
  background-color:#3f2c29;
  position:absolute;
  width:auto;
  top:25px;
  z-index:20;
  border:1px solid black;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  display:none;
  padding:5px;
  color:#c4b1ad;
}
.dropdownMenu ul {
    list-style:none;
    padding-left:0px;
    margin:0px;
}
.dropdownMenu a {
    color:#ffc35a;
    display:block;
    margin-left:5px;
    margin-right:5px;
    padding:3px 5px;
}
.alphaMenu a {
    display:inline;
    margin:0px;
}
.dropdownMenu a:hover {
    font-style:normal;
    color:#FCD75E;
    background-color:black;
}
.dropdownMenu hr {
    margin-right:5px;
}
.dropdownMenu .iconWrapper {
    width:10px;
    text-align:center;
    display:inline-block;
    margin-right:10px;
}
.dropdownMenu .iconImage {
    vertical-align:middle;
}
.dropdownMenu .iconLabel {
    vertical-align:middle;
}


.newsContinuation {
    display:none;
}

#searchBox {
    position:absolute;
    top:0px;
    right:0px;
}

.textbox {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    height:20px;
    padding-left:3px;
    font:12px arial;
}
#searchBox .textbox {
    border:none;
    background-color:#FEDE8B;
 background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.95, #fff17a),
      color-stop(0.05, #ffcd7a)
  );
  background-image: -moz-linear-gradient(top,#ffcd7a,#fff17a);
 width:150px;
   -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.9);
   box-shadow: inset 1px 1px 1px rgba(0,0,0,0.9);
    margin-top:4px;
    color:#c05000;
}
.searchButton {
    width:20px;
    height:20px;
    border:none;
    background:none;
    background-image:url(../assets/7ee6ea2d87806ba0011e166a32232b0a.png);
    margin-top:5px;
    margin-right:5px;
    cursor:pointer;
}
.searchButton:hover {
    background-image:url(../assets/ee95cb1306058860cda6ab12ed744815.png);
}
.searchButton:active {
    background-image:url(../assets/39e15262f4e05735168de122cda981fa.png);
}


.alphaTable {
    margin-left:10px;
}
.alphaTable td {
    width:10px;
    text-align:center;
}
.alphaTable td a {
    margin:0px;
}

.entryTopSpace {
  background-color:white;
  padding-top:25px;
}
div.entryCaption h1 {
  font-size:24px;
  font-weight:normal;
  margin-top:0px;
  margin-bottom:0px;
  border-bottom:1px solid #800000;
  color:black;
}
div.entryCaption h2 {
  font-size:12px;
  font-weight:normal;
  margin-top:0px;
  margin-bottom:10px;
  margin-top:5px;
  color:black;
}
div.entryCaption {
  margin-bottom:20px;
}

.faqSidebar ul li {
  margin-bottom:10px;
  margin-right:10px;
  font-size:11px;
}

.indexTable {
	width:100%;
}
.indexTable td {
  padding:3px 0px;
  line-height:18px;
}
.indexTable td b {
  font-weight:normal;
}

/* Theme elements */
#themePageTop {
  position:relative;
}

.chronicleButtonMobile {
	display:none;
}
.entrySummaryMobile {
	display:none;
}
.mapCaptionMobile {
	display:none;
}


.externalLines h5,
.externalLines h6 {
	font-size:11px;
	font-weight:normal;
	margin:0;
	line-height:130%;
}
.externalLines h5 {
	margin-bottom:5px;
	font-size:13px;
}
.externalLines {
	margin-top:20px;
	padding:10px;
	background-color:#cf7d71;
	background-color:#a09080;
	box-sizing:border-box;
	border-radius:5px;
	color:white;
}
.externalLines a {
	color:#ffefc1
}
.externalLines a:hover {
	color:#ffee90;
	text-decoration:underline;
}

.genealogy img {
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
}